@import url("https://fonts.googleapis.com/css2?family=DM+Sans&family=Fira+Sans&display=swap");
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

i {
	text-decoration: underline;
}

/* Header */
header {
	display: grid;
	grid: 60px / 1fr 1fr;
	font-family: "DM Sans", sans-serif;
	align-items: center;
}

header h1 {
	justify-self: center;
}

header ul {
	display: grid;
	grid: 100% / 1fr 1fr 1fr 1fr;
	align-items: center;
	list-style: none;
}

header a {
	color: black;
	font-size: 1.3rem;
}

a:hover {
	color: rgba(30, 0, 255, 0.466);
}

/* Main */

main a {
	color: black;
}

main {
	font-family: "Fira Sans", sans-serif;
	padding: 50px 100px 10px;
}

main section {
	min-width: 300px;
	padding-bottom: 50px;
}

main h2 {
	padding-bottom: 10px;
}

main p {
	font-size: 1.2rem;
}

main nav ul {
	list-style: none;
	padding-top: 10px;
}

main nav li {
	font-size: 1.4rem;
	font-weight: 900;
	padding-bottom: 5px;
}

.languages {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	margin-top: 40px;
	padding: 20px 0;
	border: 5px solid black;
	border-radius: 5px;
	font-size: 3rem;
}

.languages i {
	text-decoration: none;
}

@media only screen and (max-width: 1125px) {
	.desktop {
		display: none;
	}

	header {
		padding-top: 5px;
		padding-left: 5px;
	}

	header ul {
		display: flex;
		justify-content: center;
	}
}

@media only screen and (max-width: 406px) {
	main {
		padding-left: 5px;
		padding-right: 5px;
	}
}

@media only screen and (max-width: 358px) {
	header {
		grid: 100px / 1fr 1fr;
	}
}
